#kb-blocks-hero-space {

	padding-top: $block-padding;
	padding-bottom: $block-padding;
	@media(max-width: 577px) {
		padding-bottom: 0px;
	}

	.kb-left-col {
		.wrapper {
			display: table;
			height: 100%;
			width: 100%;

			.kb-tbl-cell {
				display: table-cell;
				height: 100%;
				width: 100%;
				vertical-align: middle;

				h1 {
					// font-size: 4em;
					@media(max-width: 576px) {
						padding-left: 15px;
					}
				}


				p.contact-us-call-big {
					margin-top: 20px;
					font-size: 1.4em;
					margin-bottom: 0px;
				}
				p {
					margin-top: 0px;
				}

			}
			.btn:after {
				content: ' ↓';
			}


		}
	}
	.kb-right-col {
		@media(max-width: 576px) {

		}

		text-align: center;
		img {
			position: relative;
			@media(min-width: 577px) {

				max-height: 100%;
				width: 310px;
			}
			@media(max-width: 576px) and (min-width: 426px) {
				padding: 0px;
				top: -250px;
				right: 60px;
				// max-height: 200px;
				position: absolute;
				width: 110px;
				// height: 200px;
			}
			@media(max-width: 425px) {
				padding: 25px;
				max-height: 100%;
				width: 200px;
			}
		}
	}
}
