.header {
  position: relative;
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right -40px center;
  width: $outer-max-width;
  margin: auto;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0;

  h1 {
    margin: 0;
    color: white;
  }

  a, p {
    color: #c5c5c5;
  }

  &::before {
    content: '';
    background: black;
    position: absolute;
    left: -100vw;
    width: 200vw;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.header:not(.short) {
  min-height: 550px;
  justify-content: flex-end;
}

// Startsida
body.home .header {
  // min-height: 550px;
  background-position: right -80px center;
  // justify-content: flex-end;
  padding: 0;
  
  .header-col {
    @media only screen and (min-width: 62em) {
      flex-basis: 50%;
      max-width: 50%;
    }
  }

  @media(max-width: 1350px) {
    background-position: right -5vw center;
    width: 100%;
    max-width: 100%;
    min-height: 41vw;
    background-size: cover;
  }

  @media(max-width: 913px) {
    background-position: center center;
    background-size: cover;
    width: 100%;
    max-width: 100%;
    min-height: 300px;
  }

  .row {
    margin-bottom: 60px;
    margin-top: 60px;

    a {
      margin-top: 10px;
      display: inline-block;
      padding: 0.8rem 1.3rem;
      border: 1px solid #c5c5c5;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
