.wp-block-group.landing-cards {
  padding: $main-padding;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;

  .wp-block-columns {
    margin: auto;
    justify-content: center;
    .wp-block-column {
      max-width: 350px;
      img {
        min-height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
