/*
!wp-content/
.*
!.gitignore
!readme.md
~*
ehthumbs.db
Thumbs.db
desktop.ini
*.sublime-project
*.sublime-workspace
*.komodoproject
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
wp-content/*
!wp-content/mu-plugins/
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/Divi
!wp-content/themes/3bg
node_modules/
meta_box/
