footer{
  padding: 60px $main-padding;

  a {
    color: red;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    padding: $main-padding;
    p {
      max-width: 350px;
    }
    .row {
      div {
        margin-bottom: 2rem;
      }
    }
  }
}


