footer {
	padding-top: 60px;
	padding-bottom: 60px;

	a {
		color: red;
		text-decoration: none;
	}

	p {
		margin-top: -3px;
	}

	.col-first {
		position: relative;

		> p,
		> figure {
			display: inline-block;
		}

		> figure {
			position: absolute;
			right: 16%;
		}
	}

	@media (max-width: 991.98px) {

		.col-first > figure {
			right: 15px;
		}

		.col-xs-12.col-md-4 {
			margin-bottom: 2em;
		}
	}
}

