footer{
  padding: 60px;

  a {
    color: red;
    text-decoration: none;
  }

  p {
    margin-top: -3px;
  }

  @media(min-width: 770px) and (max-width: 991px) {
    .row {
      div:nth-of-type(3), div:nth-of-type(4) {
        margin-top: 2rem;
      }
    }
  }

  @media(min-width: 1100px) {
    .row {
      div:nth-of-type(2) {
        margin-left: -5rem;
      }
      div:last-of-type {
        margin-left: 5rem;
      }
    }
  }

  @media (max-width: 770px) {
    padding: $main-padding;
    p {
      max-width: 350px;
    }
    .row {
      div {
        margin-bottom: 2rem;
      }
    }
  }
}


