header.site-header {

	button.hamburger {
		display: none;
	}

  ul {
    list-style: none;
    text-transform: uppercase;
  }

  .row:first-of-type {
    position: relative;
    z-index: 100;
    max-width: max-content;
    margin-left: auto;
    ul#top-menu {
      display: flex;
      justify-content: flex-end;
      padding-top: 1.5rem;
      

      li {
        padding: 0 1rem;
      }
      li:nth-of-type(1),
      li:nth-of-type(2) {
        border-right: 1px solid black;
      }
    }
  }


  .row:last-of-type {
    margin-top: -4rem;

    ul#primary-menu {
      margin: 0;
      padding: 0;
      text-align: left;

      li {
        display: inline-block;
        background: #f2f2f2;
        padding: 0.6rem 1rem;
        a {
          font-size: 1.2rem;
        }
      }
    }
  }


	@media (max-width: 991.98px) {

		button.hamburger {
			display: block;
			position: absolute;
			right: 20px;
		}
	}
}
