header.site-header {
	height: 70px;

	button.hamburger {
		display: none;
	}

	ul#primary-menu {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: left;

		li {
			display: inline-block;
		}
	}

	@media (max-width: 991.98px) {

		button.hamburger {
			display: block;
			position: absolute;
			right: 20px;
		}
	}
}
