//Fonts
$dm-sans: "DM Sans", sans-serif;
$dm-serif: "DM Serif Text", serif;

//Site structure
// If any of these values are changed, they also have to be updated in
// t_get_all_image_positions() in temat-child/config/images.php
$outer-max-width: 1294px;
$main-padding: 30px;
$column-padding: 15px;

