.mejs__jump-forward-button > button,
.mejs-jump-forward-button > button {
	background: url("../../img/jumpforward.svg") no-repeat 0 0;
	color: #070f1a;
	font-size: 9px;
	line-height: normal;
	position: relative;
	font-family: "DM Sans", sans-serif;
	font-weight: 600;
}
